<div class="screen">
  <div class="container">
    <div class="header">
      <h1>Create an Account</h1>
      <p>Enter your information to create an account</p>
    </div>

    <div class="card">
      <h2>Sign Up</h2>
      <p>Fill out the information to create your account</p>
      <div>
        <label type="text">Name</label>
        <input id="name" type="text" placeholder="Enter your name" (input)="validateName()" (focusout)="validateName()">
        <label type="text">Username</label>
        <input id="username" type="text" placeholder="Create a username" (input)="validateUsername()"
               (focusout)="validateUsername()">
        <label for="password">Password</label>
        <input id="password" type="password" placeholder="Create a password" (input)="validatePassword()"
               (focusout)="validatePassword()">
        <div id="error" class="hidden"></div>
      </div>
      <button id="button" (click)="onSubmit()">Create account</button>
    </div>

    <div class="footer">
      <p class="or">
        Already have an account?
        <a routerLink="/login">Log in</a>
      </p>
    </div>
  </div>


</div>
