<div class="screen">
  <div class="container">
    <div class="header">
      <h1>Create a New Listing</h1>
      <p>Fill out the details below to list an item</p>
    </div>

    <div class="card">
      <h2>Item Details</h2>
      <p>Provide information about your item</p>
      <div>
        <label type="text">Title</label>
        <input type="text" placeholder="Enter a title">
        <label type="text">Category</label>
        <select name="categories" id="category">
          <option value="">Select a category</option>
          <option value="test">test</option>
        </select>
        <label type="text">Price</label>
        <input type="number" name="" id="">
        <label type="text">Description</label>
        <input type="text" placeholder="Provide a description about your item">
      </div>
      <button id="button">Create listing</button>
    </div>
  </div>
</div>
