<div class="screen">
  <div class="container">
    <div class="header">
      <h1>Create a New Listing</h1>
      <p>Fill out the details below to list an item</p>
    </div>

    <div class="card">
      <h2>Item Details</h2>
      <p>Provide information about your item</p>
      <div>
        <label type="text">Title</label>
        <input id="title" type="text" placeholder="Enter a title" (input)="validateTitle()"
               (focusout)="validateTitle()">
        <label type="text">Category</label>
        <div id="select">
          <select id="category" name="categories" (input)="validateCategory()" (focusout)="validateCategory()">
            <option value="">Select a category</option>
            <option value="auction">Auction</option>
            <option value="sale">Sale</option>
          </select>
        </div>
        <label type="text">Price</label>
        <input id="price" type="number" placeholder="Enter a price" min="0" step="0.01" max="1000000"
               (input)="validatePrice()" (focusout)="validatePrice()">
        <label type="text">Description</label>
        <textarea id="description" placeholder="Provide a description about your item"
                  (input)="validateDescription()" (focusout)="validateDescription()"></textarea>
        <div id="error" class="hidden"></div>
      </div>
      <button id="button" (click)="onSubmit()">Create listing</button>
    </div>
  </div>
</div>
