<div class="screen">
  <div class="container">
    <div class="header">
      <h1>Welcome Back</h1>
      <p>Enter your credentials to sign in</p>
    </div>

    <div class="card">
      <h2>Login</h2>
      <p>Login with your username and password</p>
      <div>
        <label type="text">Username</label>
        <input id="username" type="text" placeholder="Username" (input)="validateUsername()"
               (focusout)="validateUsername()">
        <label for="password">Password</label>
        <input type="password" id="password" placeholder="Password" (input)="validatePassword()"
               (focusout)="validatePassword()">
      </div>
      <div id="error" class="hidden"></div>
      <button id="button" (click)="onSubmit()">Login</button>
    </div>

    <div class="footer">
      <p class="or">
        Don't have an account?
        <a routerLink="/signup">Sign up</a>
      </p>
    </div>
  </div>
</div>
